{% extends "blog/base.html" %}
{% load static %}

{% block posts %}
<article id="{{post.tag}}" class="blog_post">
    <a href="{% url 'post' post_tag=post.id %}">{{ post.title }}</a>
    <figure class="size-4">
        <a href="{% url 'post' post_tag=post.id %}"><img src="{{ post.cover }}" alt=""></a>
    </figure>
    <figcaption><p>{{ post.caption }}</p></figcaption>
    <time datetime="{{ post.date|date:'Y-m-d' }}" class="created">Created {{post.date|date:'M d, Y'}}</time>
    <p>{{ post.content|linebreaksbr }}</p>
</article>
{% endblock %}