h2,p:not(:last-child){
    margin-bottom: 2.4rem;
}
h1, .blog_post a { font: 2.4rem/1.2 "Roboto"; color: black; text-align: center; margin-bottom: 0.25in; text-transform: uppercase;}   
.created { font: 0.8rem/1.2 "Roboto"; color: rgb(27, 27, 27); margin-bottom: 0.2in; grid-column: 2/7; } 
.top-title { font: 2.0rem/1.2 "Roboto"; text-align: center;} 
h3 { font: 1.0rem/1.2 "Roboto"; } 
p { font: 0.9rem/1.5 "Roboto"; text-align: justify;}
figcaption p { font: 0.75rem/1.5 "Roboto"; text-align: center; margin-bottom: 0.2in; color: rgba(84, 84, 84, 0.849);}

@media (max-width: 8.5in) { :root { font-size: 16px; } }
@media (max-width: 5in) { :root { font-size: 14px; } }